/*** Entities ***/

.device-on {
  fill: #4484EC !important;
}

.device-off {
  fill: #B7B7B7 !important;  
}

.light-off {
  fill: #B7B7B7 !important;
}

.light-on {
  fill: #EEA431 !important;
}

.nest-off {
  fill: #B7B7B7 !important;
}

.nest-eco {
  fill: #26AE60 !important;
}

.nest-heat {
  fill: #E74B3C !important;
}

.door-closed {
  fill: #00ffff !important;
}

.door-open {
  fill: #E74B3C !important;
}

/*** Fans ***/

.fan-on {
  fill: #0C84E6 !important;
  -webkit-animation: rotation 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

/*** Animations ***/
   
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
 
svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
  background-color: var(--primary-background-color); /*so the color changes with the theme.*/
}
